body {
    font-family: sans-serif;
}

pre {
    margin: 0;
}


#toolbar {
}

#main {
    display: flex;
}

#main > div > .content {
    height: 60vh;
    overflow: auto;
}

#regs-container {
    flex: 5%;
    /*max-width: min-content;*/
}

.reg-lines {
    white-space: pre-wrap;
}

.reg-lines > pre {
    width: min-content;
}

#memory-container {
    flex: 60%;
}

#info {
    display: flex;
}

#info > div > .content {
    height: 20vh;
    overflow: auto;
}

#output-container {
    flex: 50%;
}

#log-container {
    flex: 50%;
}
