pre {
    margin: 0;
    padding: 0 !important;
}

body {
    font-family: sans-serif;
    height: 100vh;
    padding: 0 8%;
    overflow: hidden;

    display: grid;
    grid-template-areas: "toolbar" "main" "footer";
    grid-template-rows: min-content 75vh auto;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    overflow: auto;
}

#main {
    grid-area: main;
    display: grid;
    grid-template-areas: "reg text data stack";
    grid-template-rows: 100%;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

#toolbar {
    grid-area: toolbar;
    display: flex;
    flex-wrap: wrap;
}

#regs-panel {
    grid-area: reg;
}

#text-panel {
    grid-area: text;
}

#text-panel pre {
    cursor: pointer;
}

#data-panel {
    grid-area: data;
}

#stack-panel {
    grid-area: stack;
}

#stack-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#stack-content {
    max-height: 100%;
    overflow: auto;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto;
}