.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    overflow: auto;
}

body {
    height: 100vh;
    width: max-content;
    margin: auto !important;
    display: grid;
    grid-template-areas: "toolbar toolbar toolbar toolbar" "reg text text stack" "reg text text stack" "reg text text data" "reg output log data";
    grid-template-rows: min-content 22% 22% 22% 22%;
    grid-template-columns: 24ch 40ch 40ch min-content;
    grid-gap: 15px;
}

#toolbar {
    grid-area: toolbar;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#regs-panel {
    grid-area: reg;
}

#text-panel {
    grid-area: text;
}

#text-panel pre {
    cursor: pointer;
}

#data-panel {
    grid-area: data;
}

#stack-panel {
    grid-area: stack;
}

#stack-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#stack-content {
    max-height: 100%;
    overflow: auto;
}

#output-panel {
    grid-area: output;
}

#output-panel pre {
    white-space: pre-wrap;
}

#log-panel {
    grid-area: log;
}

#log-panel pre {
    white-space: pre-wrap;
}

.card-header * {
    margin: 0;
}