body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

pre {
    margin: 0;
}

.content {
    overflow: auto;
}

.group {
    display: flex;
}

#toolbar-group {
    display: flex;
    justify-content: space-around;
}

#main-group {
    display: flex;
    justify-content: space-around;
    flex: 80%;
}

#main-group .content {
    max-height: 70vh;
    width: min-content;
}

/* align stack to the bottom */
#main-group #stack-panel {
    position: relative;
}

#main-group #stack-content {
    position: absolute;
    height: min-content;
    bottom: 0;
}

#info-group {
    display: flex;
    justify-content: space-around;
}

#info-group #output-panel {
    width: 45%;
}

#info-group #log-panel {
    width: 45%;
}
