body {
    font-family: sans-serif;
}

#toolbar {
    height: 5vh;
}

#main {
    display: flex;
}

#main > div > .content {
    height: 60vh;
    overflow: auto;
}

#regs-container {
    flex: 10%;
}

#regs-content {
    white-space: pre-wrap;
}

#memory-container {
    flex: 60%;
}

#info {
    display: flex;
}

#info > div > .content {
    height: 20vh;
    overflow: auto;
}

#output-container {
    flex: 50%;
}

#log-container {
    flex: 50%;
}